@import "../../styles/colors-vars";

.main {
    height: 100%;
    display: flex;
    flex-direction: column;

    .result__content {
        flex: 1;
        overflow-y: auto;
    }
}

.result {
    background-color: $black;

    .strong {
        font-weight: 600;
    }

    &__amount {
        padding: 5px;
    }
    
    &__filter {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $grey-border-color;
    }

    &__cards-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__separator {
        height: 0;
        border: 1px solid $white;
    }
}

.genres-control {
    display: flex;
    align-items: center;
}

.genres-control__btn {
    margin-left: 10px;
    flex: none;
}
